<div class="modal-header">
   <h4 class="modal-title">Add Payment</h4>
   <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
   <form id="paymentForm" name="paymentForm" class="forms-payment" [formGroup]="paymentForm"
      (ngSubmit)="onSubmit()">
      <div class="col-sm-12">
         <div class="form-group">
            <div class="row">
               <div class="col-md-6">
                  <label>Date<span style="color: red">&nbsp;*</span></label>
                  <input class="form-control datetimepicker" type="text" placeholder="MM/DD/YYYY" matInput
                     [matDatepicker]="picker1" name="date" id="date" formControlName="date" [ngClass]="{
                           'is-invalid': f['date'].touched && f['date'].invalid
                         }" />
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"
                     class="activity-datepicker"></mat-datepicker-toggle>
                  <div class="invalid-feedback" *ngIf="f['date'].invalid && f['date'].touched">
                     Please provide the date.
                  </div>
               </div>
               <div class="col-md-6">
                  <label>Amount<span style="color: red">&nbsp;*</span></label>
                  <input class="form-control" type="number" name="amount" id="amount" formControlName="amount" 
                  [ngClass]="{
                     'is-invalid': f['amount'].touched && f['amount'].invalid
                   }" />
                  <div class="invalid-feedback" *ngIf="f['amount'].invalid && f['amount'].touched">
                     Please provide the amount.
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12">
         <div class="form-group">
            <div class="row">
               <div class="col-md-6">
                  <label>Payment Mode<span style="color: red">&nbsp;*</span></label>
                  <select id="paymentModeId" name="paymentModeId" class="form-select form-control"
                     formControlName="paymentModeId" [ngClass]="{
                        'is-invalid': f['paymentModeId'].touched && f['paymentModeId'].invalid
                     }">
                     <option value="">-Select-</option>
                     <option *ngFor="let item of paymentModes" [ngValue]="item.id">{{ item.name }}</option>
                  </select>
                  <div class="invalid-feedback"
                     *ngIf="f['paymentModeId'].invalid && f['paymentModeId'].touched">
                     Please provide the payment mode.
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12">
         <div class="form-group">
            <div class="row">
               <div class="col-md-12">
                  <label>Note</label>
                  <textarea class="form-control" id="note" name="note" formControlName="note"></textarea>
               </div>
            </div>
         </div>
      </div>
      <div class="text-center">
         <button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">
            Save</button>&nbsp;&nbsp;
         <button type="button" class="btn btn-secondary btn-rounded" (click)="activeModal.close('Close click')">
            Cancel
         </button>
      </div>
   </form>
</div>