<div>
   <div class="page-wrapper">
      <div class="content container-fluid">
         <!-- Page Header -->
         <div class="crms-title row bg-white mb-3">
            <div class="col">
               <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white me-2">
                     <i class="la la-table"></i>
                  </span>
                  <span>Fornt Office Setup</span>
               </h3>
            </div>
         </div>
         <div>
            <div class="col-12">
               <div class="card flex-fill">
                  <div class="card-header">
                     <ul class="nav nav-tabs nav-tabs-solid nav-tabs-solid bg-white">
                        <li class="nav-item">
                           <a href="#purpose" data-bs-toggle="tab" class="nav-link active">Purpose</a>
                        </li>
                        <li class="nav-item">
                           <a href="#complain-type" data-bs-toggle="tab" class="nav-link">Complain Type</a>
                        </li>
                        <li class="nav-item">
                           <a href="#source" data-bs-toggle="tab" class="nav-link">Source</a>
                        </li>
                     </ul>
                  </div>
                  <div class="card-body p-t-0">
                     <div class="tab-content pt-0">
                        <div id="purpose" class="tab-pane fade show active">
                           <app-setup-purpose-list></app-setup-purpose-list>
                        </div>
                        <div id="complain-type" class="tab-pane fade">
                           <app-setup-complain-type-list></app-setup-complain-type-list>
                        </div>
                        <div id="source" class="tab-pane fade">
                           <app-setup-source-list></app-setup-source-list>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>