<div class="modal-header">
   <h4 class="modal-title">Add Tax Category</h4>
   <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
   <form id="taxCategoryForm" name="taxCategoryForm" [formGroup]="taxCategoryForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-12">
         <div class="form-group">
            <div class="row">
               <div class="col-md-6">
                  <label>Name<span style="color: red">&nbsp;*</span></label>
                  <input class="form-control" type="text" name="name" id="name" formControlName="name"
                     [ngClass]="{'is-invalid': f['name'].invalid && f['name'].touched}" />
                  <div class="invalid-feedback" *ngIf="f['name'].invalid && f['name'].touched">
                     Please provide the name.
                  </div>
               </div>
               <div class="col-md-6">
                  <label>Tax (%)<span style="color: red">&nbsp;*</span></label>
                  <input class="form-control" type="number" name="tax" id="tax" formControlName="tax"
                     [ngClass]="{'is-invalid': f['tax'].invalid && f['tax'].touched}" />
                  <div class="invalid-feedback" *ngIf="f['tax'].invalid && f['tax'].touched">
                     Please provide the tax.
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="text-center">
         <button type="submit" class="border-0 btn btn-primary btn-gradient-primary btn-rounded">
            Save</button>&nbsp;&nbsp;
         <button type="button" class="btn btn-secondary btn-rounded" (click)="activeModal.close('Close click')">
            Cancel
         </button>
      </div>
   </form>
</div>