.vital-status {
     color: white; 
     padding: 3px;
     font-size: 12px;
     font-weight: bold;
}

.low {
     background-color: orange;
 }
 .normal {
     background-color: green;
 }
 .high {
     background-color: red;
 }