.p-l-40 {
	padding-left: 40px;
}

table {
	width: 100%;
}

td {
	padding: 10px;
	text-align: left;
}

th {
	padding-left: 0;
    text-align: left;
    font-weight: bold;
    color: black;
	font-size: medium;
  }

  hr { 
	margin: 0em;
	border-width: 1px;
  } 