<div class="content">
   <!-- Page Header -->
   <div class="crms-title row bg-white">
      <div style="display: contents;">
         <h4 style="margin-top: 10px;">Medicine Group List</h4>
      </div>
      <div class="col text-end">
         <ul class="list-inline-item ps-0 m-0">
            <li class="list-inline-item">
               <button class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
                  data-bs-toggle="modal" (click)="add()">
                  Add Medicine Group
               </button>
            </li>
         </ul>
      </div>
   </div>
   <div>
      <!-- /Page Header -->
      <ag-grid-angular class="ag-theme-quartz" style="height: 450px;" [pagination]="pagination"
         [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
         [rowData]="medicineGroups" [columnDefs]="colDefs"
         [scrollbarWidth]="11" [context]="this" />
   </div>
</div>