.activity-datepicker {
	margin-left: -42px;
}

.datetimepicker {
	display: inline-block;
}

.crms-task-item.active .accordion-body {
	display: block;
}

.display-inline-flex {
    display : inline-flex;
}

.timeline-date {
    position: absolute;
    top: -35px;
    border-radius: 5px;
    color: white;
	padding: 2px;
	background-color: #00c292;
	left: 0;
	padding: 5px;
}