<div class="col-md-12 col-sm-12">
   <div class="ribbon-wrapper card m-b-10">
      <div class="card-body">
         <div class="ribbon ribbon-success"><i class="fa fa-paperclip fa-lg m-1"></i>KNOWN ALLERGIES</div>
         <ul *ngIf="knownAllergies?.length!>0">
            <li *ngFor="let knownAllergy of knownAllergies;">
               <span [innerHtml]="knownAllergy"></span>
            </li>
         </ul>
      </div>
   </div>
   <div class="ribbon-wrapper card m-b-10">
      <div class="card-body">
         <div class="ribbon ribbon-success"><i class="fa fa-paperclip fa-lg m-1"></i>SYMPTOMS</div>
         <ul>
            <li *ngFor="let symptom of symptoms;">
               <span [innerHtml]="symptom"></span>
            </li>
         </ul>
      </div>
   </div>
   <div class="ribbon-wrapper card m-b-10">
      <div class="card-body">
         <div class="ribbon ribbon-success"><i class="fa fa-paperclip fa-lg m-1"></i>CONSULTANT DOCTOR</div>
         <ul>
            <li *ngFor="let consultantDoctor of consultantDoctors;">
               <span [innerHtml]="consultantDoctor"></span>
            </li>
         </ul>
      </div>
   </div>
</div>