<div class="content container-fluid">
   <!-- Page Header -->
   <div class="crms-title row bg-white">
      <div class="col">
         <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
               <i class="la la-table"></i>
            </span>
            <ul class="breadcrumb bg-white display-inline-flex m-0 ps-0 pe-0">
               <li class="breadcrumb-item"><a [routerLink]="routes.opd">OPD</a></li>
               <li class="breadcrumb-item active">Timeline</li>
            </ul>
         </h3>
      </div>
      <div class="col text-end">
         <ul class="list-inline-item ps-0 m-0">
            <li class="list-inline-item">
               <button class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
                  data-bs-toggle="modal" (click)="add()">
                  Add Timeline
               </button>
            </li>
         </ul>
      </div>
   </div>
   <div>
      <!-- /Page Header -->
      <!-- Ribbon -->
      <div class="col-md-12" *ngIf="timelines?.length!>0">
         <div class="card">
            <div class="card-body">
               <ul class="timeline">
                  <li *ngFor="let item of timelines; let  i = index" [ngClass]="{'timeline-inverted' : i%2==1 }">
                     <div class="timeline-badge success">
                        <i class="fa fa-list-alt"></i>
                     </div>
                     <div class="timeline-panel">
                        <div class="timeline-heading">
                           <div>
                              <span style="float:inline-end;">
                                 <i (click)="edit(item.id)" title="Edit" class="fa fa-edit"
                                    style="padding-left: 10px; cursor: pointer;"></i>
                                 <i (click)="delete(item.id)" title="Delete" class="fa fa-trash"
                                    style="padding-left: 10px; cursor: pointer;"></i>
                                 &nbsp;
                              </span>
                              <u><span [innerHtml]="item.date | date : 'MMM dd, yyyy hh:mm a'"></span></u>
                           </div>
                           <h4 class="timeline-title"><b>{{item.title}}</b></h4>
                        </div>
                        <div class="timeline-body">
                           <p>{{item.description}}</p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-12" *ngIf="timelines.length==0"
         style="padding-top: 50px; min-height: 200px;display: inline-block;text-align: center;">
         No Rows To Show
      </div>
      <!-- /Ribbon -->
   </div>
</div>