<div>
   <div class="page-wrapper">
      <div class="content container-fluid">
         <!-- Page Header -->
         <div class="crms-title row bg-white mb-3">
            <div class="col">
               <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white me-2">
                     <i class="la la-table"></i>
                  </span>
                  <span>Vital Setup</span>
               </h3>
            </div>
            <div class="col text-end">
               <ul class="list-inline-item ps-0 m-0">
                  <li class="list-inline-item">
                     <button
                        class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
                        id="add-task" data-bs-toggle="modal" (click)="add()">
                        Add Vital
                     </button>
                  </li>
               </ul>
            </div>
         </div>
         <div>
      <!-- /Page Header -->
      <ag-grid-angular class="ag-theme-quartz" style="height: 450px;" [pagination]="pagination"
         [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
         [rowData]="vitals" [columnDefs]="colDefs"
         [scrollbarWidth]="11" [context]="this" />
   </div>
</div>
</div>