
// ::ng-deep .size-full .modal-dialog {
// 	max-width: 100% !important;
// 	width: 100% !important;
// }

.bg-gray {
	background-color: lightgray;
}

label {
	font-weight: bold;
}

td {
	font-size: medium;
}

.p-20 {
	padding: 20px !important;
}

.m-0 {
	margin-bottom: 0;
}