<div>
   <div class="page-wrapper">
      <div class="content container-fluid">
         <!-- Page Header -->
         <div class="crms-title row bg-white mb-3">
            <div class="col">
               <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white me-2">
                     <i class="la la-table"></i>
                  </span>
                  <span>Patient Directory</span>
               </h3>
            </div>
            <div class="col text-end">
               <ul class="list-inline-item ps-0 m-0">
                  <li class="list-inline-item">
                     <button
                        class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
                        id="add-task" data-bs-toggle="modal" (click)="add()">
                        Add Patient
                     </button>
                  </li>
               </ul>
            </div>
         </div>
         <div>

            <div class="row">
               <div class="col-sm-12">
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-4">
                           <label>Search by keyword</label>
                           <input type="text" class="form-control" placeholder="Seatch by Patient ID, Name, Phone" (keyup.enter)="search()"
                           [(ngModel)]="searchText" />
                           
                        </div>
                        <div class="col-md-4">
                           <br/>
                           <button class="border-0 btn btn-primary btn-gradient-primary btn-rounded"
                           id="add-task" (click)="search()">
                           Search
                        </button>
                        </div>
                     </div>
                  </div>
               </div>
                  
               <div class="card" style="width: 500px; height: 160px; margin-left: 10px;margin-bottom: 15px;padding: 0;" *ngFor="let item of filteredPatientList">
                  <div class="card-body row" style="padding: 0;">
                     <div class="col-md-4">
                        <img class="border" style="width: 160px;height: 160px;border: 1px solid lightgray;" [src]="item.photo">
                     </div>

                     <div class="col-md-8 container" style="padding: 15px 0 0 20px;">
                        <div><h4><span [innerHtml]="item.name"></span> (<span [innerHtml]="item.id"></span>)</h4></div>
                        <div>C/O <span [innerHtml]="item.guardianName"></span></div>
                        <div><span [innerHtml]="item.gender"></span>, <span [innerHtml]="item.ageYear"></span> Year(s) <span [innerHtml]="item.ageMonth"></span> Month(s)</div>
                        <div><span [innerHtml]="item.phone"></span></div>
                        <div><span [innerHtml]="item.address"></span></div>
                        <div class="action">
                           <i (click)="view(item.id)" class="btn" style="cursor:pointer;font-size: xx-large;color: white;" class="fa fa-align-justify"
                              data-bs-toggle="tooltip" title="View"></i>
                           <i (click)="edit(item.id)" class="btn" style="padding-left: 20px;cursor:pointer;font-size: xx-large;color: white"
                              class="fa fa-edit" data-bs-toggle="tooltip" title="Edit"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>