<div class="modal-header">
   <h4 class="modal-title">View Opd Patient</h4>
   <button type="button" class="close md-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
   <table>
      <tr>
         <td><b>OPD Number:</b></td>
         <td><span [innerHtml]="opdPatient.opdNo"></span></td>
         <td></td>
         <td><b>Case Id:</b></td>
         <td><span [innerHtml]="opdPatient.caseId"></span></td>
      </tr>
      <tr>
         <td><b>Patient Name:</b></td>
         <td><span [innerHtml]="opdPatient.patientName"></span></td>
         <td></td>
         <td><b> Old Patient:</b></td>
         <td><span>{{opdPatient.isOldPatient?'Yes' : 'No'}}</span></td>
      </tr>
      <tr>
         <td><b>Appointment Date:</b></td>
         <td><span [innerHtml]="opdPatient.appointmentDate | date : 'MMM dd, yyyy'"></span></td>
         <td></td>
         <td><b>Casualty:</b></td>
         <td><span>{{opdPatient.anyCasualty?'Yes' : 'No'}}</span></td>
      </tr>
      <tr>
         <td><b>Reference:</b></td>
         <td><span [innerHtml]="opdPatient.reference"></span></td>
         <td></td>
         <td><b>Consultant Doctor:</b></td>
         <td><span [innerHtml]="opdPatient.consultantDoctor"></span></td>
      </tr>
      <tr>
         <td><b>Apply TPA:</b></td>
         <td colspan="4"><span>{{opdPatient.applyTPA?'Yes' : 'No'}}</span></td>
      </tr>
      <tr>
         <td>
            <b>Symptoms:</b>
         </td>
         <td colspan="4">
            <span [innerHtml]="opdPatient.symptomsDescription"></span>
         </td>
      </tr>
      <tr>
         <td>
            <b>Note:</b>
         </td>
         <td colspan="4">
            <span [innerHtml]="opdPatient.note"></span>
         </td>
      </tr>
      <tr>
         <td>
            <b>Any Known Allergies:</b>
         </td>
         <td colspan="4">
            <span [innerHtml]="opdPatient.anyKnownAllergies"></span>
         </td>
      </tr>
      <tr>
         <td>
            <b>Previous Medical Issue:</b>
         </td>
         <td colspan="4">
            <span [innerHtml]="opdPatient.previousMedicalIssue"></span>
         </td>
      </tr>
   </table>
</div>
<div class="modal-footer text-center">
   <button class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
   aria-label="Close" (click)="activeModal.dismiss('Cross click')">Ok</button>
</div>